# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
*.pyd

# Virtual environments
.venv*/
venv*/
env/

# Jupyter notebooks
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# System files
.DS_Store

# Large data files
*.zip
*.mp4
*.h5
*.pth
*.pt
*.bin
